@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideUp {
    animation: slideUp 0.25s ease-out;
}

html {
    overflow-y: scroll;
    /* Membuat semua elemen Tailwind (margin, padding, text, spacing) 
     mengecil secara proporsional sekitar 15-20% (mendekati zoom 80-85%).
     Hal ini karena semua utility class Tailwind menggunakan satuan 'rem'. */
    font-size: 78%;
}